<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delbel.fluent.location">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <service
            android:name="com.delbel.fluent.location.service.ForegroundLocationService"
            android:enabled="true"
            android:exported="false"/>

    </application>

</manifest>
